body {
    font-family: montserrat, sans-serif !important;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    background-color: #931a19
}

p {
    margin-top: 0;
    margin-bottom: 1rem !important
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

@media screen and (max-width:425px) {
    h1 {
        line-height: 40px
    }
}

.deskmenu {
    margin-bottom: 0;
    padding: 10px 1rem;
    background-repeat: repeat-x;
    background-size: contain;
    background: pink;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    box-shadow: 0 0 8px #151515 inset
}

.mobview {
    margin-bottom: 0;
    padding: 10px 1rem;
    background-repeat: repeat-x;
    background-size: contain;
    background: pink;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    box-shadow: 0 0 8px #151515 inset
}

.main-heading {
    font-weight: 900;
    font-size: 42px;
    text-transform: uppercase
}

.main-heading span {
    display: block;
    font-size: 21px;
    font-weight: 900;
    line-height: 30px
}

@media screen and (min-width:1201px) {
    .main-heading {
        font-size: 52px
    }
}

@media screen and (max-width:1200px) {
    .main-heading {
        font-size: 42px
    }
    .main-heading span {
        font-size: 30px
    }
}

@media screen and (max-width:425px) {
    .main-heading {
        font-size: 36px
    }
    .main-heading span {
        font-size: 22px
    }
}

@media screen and (max-width:370px) {
    .main-heading {
        font-size: 30px
    }
    .main-heading span {
        font-size: 20px
    }
}

.bg-danger {
    background-color: #b00000 !important
}

.text-danger {
    color: #db0a00 !important
}

.bg-dark {
    background-color: #b30000 !important
}

.bg-red {
    background: #b30000
}

.text-secondary {
    color: #4b4b4b !important
}

.bg-black {
    background: #b30000 !important
}

.text-dark {
    color: #343a40 !important
}